.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.submit-btn {
    background-color: #523D3E;
    color: white;
    border: none;
    padding: 16px;
}